name: E2E test CI

permissions:
  contents: read
  packages: read
  actions: read

on:
  push:
    branches:
      - main
      - v*
    paths:
      - "src/**"
      - "tests/**"
      - ".github/workflows/e2e_test.yml"
      - "pyproject.toml"
      - "uv.lock"
  # allow the test CI to be manually triggerred
  workflow_dispatch:

jobs:
  ota_image_build_e2e_test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout commit
        uses: actions/checkout@v6
      - name: Build test base container image
        run: |
          docker build -f docker/e2e_test_base/Dockerfile -t ota_image_builder_test .
      - name: E2E test
        run: |
          docker run --rm \
            -v `pwd`/docker/e2e_test_base/e2e_test.sh:/entry_point.sh:ro \
            -v `pwd`/tests/certs/gen_cert_chain.sh:/certs/gen_cert_chain.sh:ro \
            -v `pwd`/tests/data:/workdir:ro \
            -w /workdir \
            --entrypoint=/bin/bash \
            ota_image_builder_test /entry_point.sh
