name: E2E test CI

permissions:
  contents: read
  packages: read
  actions: read

on:
  push:
    branches:
      - main
      - v*
    paths:
      - "src/**"
      - "tests/**"
      - ".github/workflows/e2e_test.yml"
      - "pyproject.toml"
      - "uv.lock"
  # allow the test CI to be manually triggerred
  workflow_dispatch:

jobs:
  ota_image_e2e_test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      SYS_IMG_ROOTFS: sys_img_for_test
      OTA_IMAGE_OUTPUT: ota_image
      OTA_IMAGE_ARTIFACT: ota_image.zip
      DEPLOYED_ROOTFS: deployed_rootfs
      CERT_DIR: /certs
    steps:
      - name: Checkout commit
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7
        with:
          version: "0.10.0"
      - name: Build and setup ota-image-builder binary
        run: |
          uv run --locked pyinstaller -s -F --optimize=2 \
            --name ota-image-builder \
            src/ota_image_builder/__main__.py
          ./dist/ota-image-builder version
          ln -s ./dist/ota-image-builder ./dist/ota-image-tools
      - name: Setup test PKI
        run: |
          mkdir -p ${CERT_DIR}
          cd ${CERT_DIR}
          ./tests/scripts/gen_cert_chain.sh
      - name: Prepare test system image rootfs
        run: |
          ./tests/scripts/e2e_build_sys_img.sh ${SYS_IMG_ROOTFS}
      - name: Build OTA image from the input test system image
        run: |
          DATA=./tests/data ./tests/e2e/scripts/e2e_build_ota_image.sh \
            ./dist/ota-image-builder \
            ${SYS_IMG_ROOTFS} \
            ${OTA_IMAGE_OUTPUT} ${OTA_IMAGE_ARTIFACT}
          # NOTE: ota-image-tools deploy-image works with OTA image artifact
          rm -rf ${OTA_IMAGE_OUTPUT}
      - name: Deploy OTA image
        run: |
          ./dist/ota-image-tools deploy-image \
            --image ${OTA_IMAGE_ARTIFACT} \
            --rootfs-dir ${DEPLOYED_ROOTFS} \
            --ecu-id autoware --release-key dev
      - name: Compare input output rootfs
        run: |
          ./tests/e2e/scripts/compare_rootfs.py ${SYS_IMG_ROOTFS} ${DEPLOYED_ROOTFS}
